@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans bg-[#f9fafb] dark:bg-[#0f172a] transition-colors duration-300;
}

.search-highlight {
  background-color: #fde68a;
  color: #1f2937;
  border-radius: 0.2rem;
  padding: 0 0.1rem;
}

.dark .search-highlight {
  background-color: #f59e0b;
  color: #111827;
}
